{% extends 'base.html.twig' %}

{% block title %}{{ 'auth.new_password_title'| trans }}{% endblock %}

{% block body %}
    <div class="container signform">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h5 class="card-title text-center">{{ 'auth.new_password_title'| trans }}</h5>
                        {% if form_errors(form.plainPassword) %}
                            <div class="alert alert-danger message-errors" role="alert">
                                {{ form_errors(form.plainPassword) }}
                            </div>
                        {% endif %}
                        <div class="form-signin">
                            {%  if result == null %}
                            {{ form_start(form) }}
                            <div class="form-label-group">
                                {{ form_widget(form.plainPassword.first) }}
                                <label for="inputEmail">{{ form_label(form.plainPassword.first) }}</label>
                            </div>
                            <div class="form-label-group">
                                {{ form_widget(form.plainPassword.second) }}
                                <label for="inputEmail">{{ form_label(form.plainPassword.second) }}</label>
                            </div>
                            <button class="btn btn-lg btn-success btn-block text-uppercase" type="submit"><i class="fas fa-key"></i> {{ 'buttons.new_password'| trans }}</button>
                            {{ form_end(form) }}
                            {% else %}
                                <p class="text-center">{{ result | trans }}</p>
                            {% endif %}
                            <hr class="my-4">
                            <a class="btn btn-lg btn-primary btn-block text-uppercase" href="{{ path('user_login') }}"><i class="fas fa-sign-in-alt"></i> {{ 'auth.login'| trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
