{% extends 'basepage.html.twig' %}

{% block title %}Messages{% endblock %}

{% block content %}
        <div class="row">
            <div class="col-md">
                <h1 class="font-weight-light">{{ 'pages.messages'| trans }}</h1>
                {{ 'pages.sort_by' | trans }}
                {{ knp_pagination_sortable(messages, 'forms.sort_id'|trans, 'id') }} |
                {{ knp_pagination_sortable(messages, 'forms.sort_username'|trans, 'username') }} |
                {{ knp_pagination_sortable(messages, 'forms.sort_email'|trans, 'email') }}
            </div>
            <div class="col-md">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <button class="btn btn-outline-primary float-right" type="button" data-toggle="collapse" data-target="#createMessage" aria-expanded="false" aria-controls="createMessage">
                    {{ 'buttons.new_message'| trans }} <i class="fas fa-pencil-alt"></i>
                </button>
                {% endif %}
                <p class="text-right message-count">{{ 'pages.total_messages'| trans }}: {{ messages | length}}</p>
            </div>
        </div>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <div class="collapse card card-body" id="createMessage">
        <h3 class="font-weight-light">{{ 'buttons.send_message'| trans }}</h3>
        {% include 'message/form.html.twig' %}
    </div>
    {% endif %}
    {% if send_message == true %}
        <div class="alert alert-success" role="alert">
            {{ 'pages.send_message' | trans }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick="$(".alert").alert('close')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    {% if messages != null %}
        {% for message in messages %}
            <div class="card message-block">
                <div class="card-body">
                    <div class="row">
                        {% if message.picture != null and img_support == true %}
                        <div class="col-md-3 message-picture">
                            <img src="{{ picture_dir }}/{{ message.picture }}" class="img-fluid rounded" alt="Image">
                        </div>
                        {% endif %}
                        <div class="col-md">
                            <div class="message-username">
                                <i class="fas fa-pencil-alt"></i> {{ message.username }}
                                <span>{{ message.email }}</span>
                            </div>
                            <div class="message-content">
                                    {{ message.text|length > 700 ? (message.text|slice(0, 700) ~ '...')|raw : message.text|raw }}
                            </div>
                        </div>
                    </div>
                    <div class="row message-bar">
                        <div class="col">
                            <span class="align-middle"><i class="far fa-clock"> </i> {{ message.createdAt|date("F jS \\a\\t g:ia") }}</span>
                        </div>
                        <div class="col d-sx-inline-flex">
                            <a class="btn btn-outline-secondary float-right btn-sm" href="{{ path('single_message', {'message': message.id}) }}">
                                {{ 'buttons.read'| trans }} <i class="fas fa-angle-double-right"></i>
                            </a>
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                <button class="btn btn-outline-success float-right btn-sm" type="button" data-toggle="collapse" data-target="#createComment{{ message.id }}" aria-expanded="false" aria-controls="createComment{{ message.id }}">
                                    <i class="far fa-comment"></i> {{ message.comments | length}}
                                </button>
                            {% endif %}
                        </div>
                    </div>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <div class="collapse" id="createComment{{ message.id }}">
                        {{ render(controller('App\\Controller\\CommentController::create', {'message':message.id})) }}
                    </div>
                    {% endif %}
                    <div class="d-none d-md-block">
                        {% if message.comments | length != 0 %}
                            <hr>
                            {% for comment in message.comments | slice(0, 3) %}
                                <div class="comment-block">
                                    <div class="comment-username"><i class="far fa-user"></i> {{ comment.username }}</div>
                                    <div class="comment-text">{{ comment.text|length > 200 ? comment.text|slice(0, 200) ~ '...' : comment.text }}</div>
                                    <span class="float-right">{{ comment.createdAt|date("F jS \\a\\t g:ia") }}</span>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
    <p>Not found messages</p>
    {% endif %}

    <div class="navigation d-flex justify-content-center">
    {{ knp_pagination_render(messages) }}
    </div>
{% endblock %}

