{% extends 'basepage.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 single-message">
                <h1 class="font-weight-light">{{ message.username }}</h1>
                <span>{{ message.email }}</span><br>
            </div>
            <div class="col-md-6 text-right d-flex align-items-center justify-content-end">
                {% if message.homepage %}
                <a class="btn btn-outline-primary" href="https://{{ message.homepage }}">
                    <i class="fas fa-link"></i>
                    {{ message.homepage|length > 30 ? message.homepage|slice(0, 30) ~ '...' : message.homepage  }}
                </a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="card message-block">
        <div class="card-body">
            <div class="row">
                {% if message.picture != null and img_support == true %}
                    <div class="col-md-3">
                        <img src="{{ picture_dir }}/{{ message.picture }}" class="img-fluid rounded" alt="Image">
                    </div>
                {% endif %}
                <div class="col-md">
                    <div class="message-content">{{ message.text | raw }}</div>
                </div>
            </div>
            <div class="row message-bar">
                <div class="col">
                    <span class="align-middle"><i class="far fa-clock"> </i> {{ message.createdAt|date("F jS \\a\\t g:ia") }}</span>
                </div>
                <div class="col d-sx-inline-flex">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <button class="btn btn-outline-success float-right btn-sm" type="button" data-toggle="collapse" data-target="#createComment{{ message.id }}" aria-expanded="false" aria-controls="createComment{{ message.id }}">
                    {{ 'buttons.new_comment'| trans }} | {{ message.comments | length}}
                </button>
                {% endif %}
                </div>
            </div>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <div class="collapse" id="createComment{{ message.id }}">
                {{ render(controller('App\\Controller\\CommentController::create', {'message':message.id})) }}
            </div>
            {% endif %}
            {% if message.comments | length != 0 %}
                <hr>
                <div class="comments">
                    {% for comment in message.comments %}
                        <div class="comment-block">
                            <div class="comment-username"><i class="far fa-user"></i> {{ comment.username }}</div>
                            <div class="comment-text">{{ comment.text }}</div>
                            <span class="float-right">{{ comment.createdAt|date("F jS \\a\\t g:ia") }}</span>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            {#<div class="text-white bg-white"><a href="{{ path('single_message', {'message': message.id }) }}">Watch</a></div>#}
        </div>
    </div>
{% endblock %}